/*TODO*/
:root {
    --background-color: rgb(212, 219, 188);
    --background-color-header-nav: rgb(198, 218, 136);
    --default-img-width: 200px;
    --default-link-color: rgb(25, 27, 19);
    --large-header: 38px;
    --section-content-font-size: 18px;

    background-color: var(--background-color);

    /*CITATION: VSCode autocompleted this font family for me */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Base styles from hw1 that i liked with some modification/expansion for footer */

/* The below rule was also found from inspect elementing my rose hulman, seems to be part of the solution for my browser autoadding margins here for whatever reason */
body,
html {
    width: 100%;
}

/*Found some nice compat styles from my rose hulman for the body*/
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

    /* CITATION: https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Avoid useless margin on nav/h1/h2/h3/section/header tag (is it just my browser or does the browser just add a 8px margin to these days for some dumb reason) */
nav,
h1,
h2,
h3,
section,
header {
    margin: 0;
}

/* end base styles from hw1 */

#header-nav {
    min-height: 48px;
    line-height: 48px;
    border-spacing: 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-color-header-nav);
}

a {
    color: var(--default-link-color);
}


#header-nav a {
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

a:hover {
    background-color: white;

    /* Border radius */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    /* CITATION: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow and https://stackoverflow.com/questions/5608222/how-to-apply-box-shadow-on-all-four-sides (for help in the numbers) with some adjustments for a nice shadow around the links upon hover*/
    box-shadow: 0 0 3px 3px black;
}

#img-me {
    width: var(--default-img-width);
}

/* Set main's margin left using media queries to ensure its nice and responsive */

/* I forgot the syntax for media queries, so had to look it up on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries */
@media (30em <=width) {
    .section-content {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (30em <=width <=70em) {
    .section-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (width >=70em) {
    .section-content {
        padding-left: 90px;
        padding-right: 90px;
    }
}

.centered-intro {
    text-align: center;
}

.large-header {
    font-size: var(--large-header);
}

.section-content {
    font-size: var(--section-content-font-size);
}

.to-footer-spacing {
    margin-bottom: 70px;
}

.bg {
    /*CITATION: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element and https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Resizing_background_images and Wikipedia's page on cats for the cat picture*/
    background-size: 100vw 100vh;
    height: 100vh;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-text {
    text-align: center;
    font-size: 200px;
    color: white;
    /*35% background opacity for accessibility and readibility purposes*/
    background: rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/*From https://en.wikipedia.org/wiki/Cat#/media/File:Cat_August_2010-4.jpg*/
.cat-bg {
    background-image: url('../images/wikipedia_cat.png');
}

.coding-bg {
    /* Background of the code of a CSSE280 lab */
    background-image: url('../images/coding_webserver.png')
}

.swimmingpool-bg {
    /* From https://en.wikipedia.org/wiki/Swimming_pool#/media/File:Olympic_Swimming_Pool_-_Fast_Lane.JPG */
    background-image: url('../images/wikipedia_swimmingpool.png')
}

.music-bg {
    /* This is just a screenshot of a song I like listening to */
    background-image: url('../images/listeningtomusic.png');
}

/*From https://www.rose-hulman.edu/visit/_assets/images/Image-Top-Carousel/Visit-C-top-Photo-Campus_Olin.jpg*/
.rhcampus-bg {
    background-image: url('../images/rhit.png')
}

footer {
    margin-top: auto;
    background-color: black;
}


/*
On large enough viewport width, use grid to show project and github project card container in a nice evenly spaced fashion

(seriously, why did I not know about grid sooner... it would have made some of my hobby websites easier to code than doing everything by spamming flexbox and floats everywhere) :/...
*/
@media (width >=80em) {

    /*CITATION: https://css-tricks.com/snippets/css/complete-guide-grid/*/
    .project-cards {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        row-gap: 25px;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card {
    border: solid 1px;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.card-bottom {
    margin-top: auto;
}

.error {
    color: red;
    font-size: bold;
}

.margin-3px {
    margin-bottom: 3px;
}